<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

    <nav class="navbar" th:fragment="navbar">

        <div class="container navbar-container">

            <!-- Logo -->

            <a th:href="@{/}" class="logo">

                <img src="/images/logonav.png" alt="ARUNGI Logo">

            </a>

            <!-- Menu -->

            <ul class="nav-menu">

                <li>

                    <a th:href="@{/}">

                        Home

                    </a>

                </li>

                <li>

                    <a th:href="@{/destinations}">

                        Destinations

                    </a>

                </li>

                <li>

                    <a th:href="@{/packages}">

                        Packages

                    </a>

                </li>

                <li>

                    <a th:href="@{/about}">

                        About

                    </a>

                </li>

            </ul>

            <!-- Right Side -->

            <div class="nav-actions">

                <!-- Search -->

                <button class="nav-search-btn">

                    <i class="fa-solid fa-magnifying-glass">

                    </i>

                </button>

                <!-- Belum Login -->

                <th:block th:if="${!isLoggedIn}">

                    <a th:href="@{/login}" class="btn-outline">

                        Login

                    </a>

                    <a th:href="@{/register}" class="btn-primary">

                        Register

                    </a>

                </th:block>

                <!-- Sudah Login -->

                <th:block th:if="${isLoggedIn}">

                    <a th:href="@{/profile}" class="btn-primary">

                        Profile

                    </a>

                    <a th:href="@{/logout}" class="btn-outline">

                        Logout

                    </a>

                </th:block>

            </div>

        </div>

    </nav>

</body>

</html>